body {
  font-family: Arial, sans-serif;
  background-color: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 700px;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 700px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #2563eb;
}

form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

form div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1px;
}

button:hover {
  background-color: #1d4ed8;
}

#risultato {
  margin-top: 25px;
  padding: 20px;
  color: #2563eb;
  background-color: #f1f5f9;
  border-radius: 8px;
  text-align: center;
}

.d-none {
  display: none;
}
